hr{
    margin-top:3px;
    margin-bottom: 3px; 
}

body{
    background: #fff;
}

.audio-bg{
    box-shadow: 2px 2px 16px #99a2aa;
    position: absolute;
    top: 95px;
    width: 100%;
    height: 295px;
    background: rgba(244, 244, 244, 0.8);
}

.container-fluid{
    width: 75% !important;
}

.audio-wrap{
    width: 100%;
    padding: 5px;
    height: 35vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    /* background: #888; */
}

.audio-profile{
    display: flex;
    width: 250px;
    height: 250px;
    border: 4px;
    border-radius: 50%;
    border-style:groove;
    border-width:10px;
    border-color: #726f6f;
}

.audio-info-wrap{
    height: 250px;
    margin-left: 50px;
}

.audio-info{
    height: 168px;
}

.audio-info-item{
    margin-top: 1vh;
    display: flex;
    align-items: center;
    color: #697179;
    font-size: 14px;
    line-height: 26px;
}

.audio-operate{
    height: 50px;
    display: flex;
    align-items: center;
}

.line{
    height: 3px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
    background: #f9932b;
    cursor: pointer;
}

#current-time{
    color: #f9932b;
}

.time{
    position: absolute;
    display: inline-block;
    right: 4px;
    top:-30px;
    font-size: 14px;
    color: #4e515594;
    cursor: text;
}

.bar{
    position: absolute;
    left: 0px;
    top: -6px;
    height: 16px;
    width: 16px;
    border: 2px solid #ffa851;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}


.play-song{
    height: 47px;
    width: 140px;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
    background: #f9932b;
}

.play-song:hover{
    cursor: pointer;
    background: #ffa851;
}

.operate-song{
    height: 47px;
    width: 140px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-left: 20px;
    
}

.operate-song:hover{
    cursor: pointer;
    background: #e7e7e7;
}

.txt-center{
    margin-left: 33px;
    margin-top: 8px;
}

.txt-center-clicked{
    margin-left: 24px;
    margin-top: 8px;
    color: #ffa851;
}


/* 歌词样式 */
.lyrics-title {
    font-size: 20px;
}
.lyrics-main {
    margin-top: 10px;
    margin-bottom: 40px;
}