body{
    overflow: hidden;
}

#tf-main{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width:100%;
}

.nav-left{
    /* opacity: 0.9; */
    width:12%;
    height:100vh;
    box-shadow: 1px 0 0px #ccc;
    background-color:#fff;
    z-index: 2;
    /* overflow-y: scroll; */
}

.content-right{
    width:88%;
    height:100vh;
    overflow-y: scroll;
}

.nav-left::-webkit-scrollbar {
    width: 10px;    
    height: 8px;
}
.nav-left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1499ed;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}


.content-right::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}
.content-right::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    background-color: #1499ed;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
.content-right::-webkit-scrollbar-track {/*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}

/***************************** 左侧导航栏 偶像信息 ***************************/
.idol-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top:20px;
}

.idol-profile{
    position: relative;
    top:0;
    width:55%;
    border-radius: 50%;
    display: block;
}
.idol-profile img{
    display: block;
    width:100%;
    border-radius: 50%;
}

.idol-img-black-overlay{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    background-color:#000;
    border-radius: 50%;
    opacity: 0.85;
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
}

/* 上传作品的按钮 */
.upload-works{
    margin-top:20px;
    padding:5px 18px 5px 18px;
    font-size: 18px;
    background-color:#1499ed;
    border-radius: 5px;
    color:#fff;
    text-decoration: none;
}
.upload-works:hover{
    color:#fff;
    text-decoration: none;
}

/* 左侧导航列表 */
.nav-left-wrap{
    margin-top:20px;
    padding:5px 0px 5px 0px;
}
.nav-left-item{
    display: block;
    text-align: center;
    font-size: 17px;
    padding:10px 0 10px 0;
    color:#505050;
}
.left-item-on{
    background-color:#1499ed;
    color:#fff;
    text-decoration: none;
}

.nav-left-item:hover{
    background-color:#1499ed;
    color:#fff;
    text-decoration: none;
}


/* 右侧内容 */
.content-right-item{
    display: none;
}


.browse-line-pic {
    width: 100%;
    background-color:#fff;
    /* height: 500px; */
}
.browse-line-pic-canvas {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 0 auto !important;
    padding: 50px 0 10px 0;
}

.browse-line{
    position: relative !important;
    width: 100%;
    height: 100%;
    margin: 0 auto !important;
    padding: 0 30px 0 30px !important;
}




/* 内容管理 */
.link-top-container {
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: 1;
    white-space: nowrap;
    padding-left: 240px;
}
.link-top-container a:hover {
    text-decoration: none;
}
.link-top-container .link-top-item {
    display: inline-block;
    margin: 0 35px;
    font-size: 14px;
    width: 71px;
    text-align: center;
    min-width: 56px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 48px;
    border-bottom: 1px solid transparent;
    color: #222;
}
.link-top-container .link-top-item.active {
    border-bottom-color: #00a1d6;
    color: #00a1d6;
}


/* 内容管理-视频管理 */
/* .cc-article-wrp .article-card {
    position: relative;
    width: 100%;
    min-height: 140px;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
}
.article-card {
    border: 1px solid #e5e9ef;
}
.cc-article-wrp .article-card .cover-wrp {
    position: relative;
    float: left;
    width: 160px;
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 20px;
    background: #f1f3f7 url("../img/video-3.jpg") no-repeat 50%;
}
body a {
    text-decoration: none;
    color: #00a1d6;
    cursor: pointer;
}

.cc-article-wrp .article-card .cover-wrp img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
img {
    border-style: none;
}
.cc-article-wrp .article-card .cover-wrp .duration {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    line-height: 20px;
    padding: 0 4px;
    background: rgba(0,0,0,.6);
    color: #fff;
    border-radius: 4px;
}
.article-card .tag-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    top: 4px;
    right: 4px;
    position: absolute;
}
.cc-article-wrp .article-card .meta-wrp {
    float: left;
}
.cc-article-wrp .article-card .meta-title {
    height: 24px;
    line-height: 24px;
}
.cc-article-wrp .article-card .meta-title .typename {
    display: inline-block;
    padding: 0 8px;
    border: 1px solid #e5e9ef;
    color: #666;
    border-radius: 12px;
    vertical-align: top;
    line-height: 22px;
    margin-right: 10px;
}
.cc-article-wrp .article-card .meta-title .name {
    display: inline-block;
    max-width: 420px;
    font-size: 18px;
    color: #212121;
}
#appeal-main .ap-con .it-info .info-lt .title, .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cc-article-wrp .article-card .meta-status {
    padding: 18px 0 20px;
}
.cc-article-wrp .article-card .meta-status .is-success {
    border: none;
}
.cc-article-wrp .article-card .meta-status .pubdate {
    display: inline-block;
    color: #99a2aa;
    font-weight: 400;
    padding-right: 20px;
    border-right: 1px solid #e5e9ef;
    vertical-align: middle;
}
.cc-article-wrp .article-card .meta-view {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 10px;
    color: #99a2aa;
}
.cc-article-wrp .article-card .meta-view .bili-btn {
    width: 72px;
    display: inline-block;
}
.bili-btn.ok {
    color: #fff;
    background: #00a1d6;
}
.bili-btn {
    height: 28px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 18px;
    font-size: 12px;
    border: 0 none;
}
.cc-article-wrp .article-card .meta-view .bili-btn {
    width: 72px;
    display: inline-block;
}
.bili-btn.plain {
    border: 1px solid #ccd0d7;
    background: #fff;
    color: #222;
}
.bili-btn {
    height: 28px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 18px;
    font-size: 12px;
    border: 0 none;
}
.cc-article-wrp .article-card .meta-view .delete, .cc-article-wrp .article-card .meta-view .option {
    width: 32px;
}
.cc-article-wrp .article-card .meta-view .appeal, .cc-article-wrp .article-card .meta-view .data, .cc-article-wrp .article-card .meta-view .delete, .cc-article-wrp .article-card .meta-view .option {
    background: #f1f3f7;
    color: #6d757a;
}
.cc-article-wrp .article-card .meta-view .item {
    display: inline-block;
    width: 72px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 16px;
    margin-right: 10px;
    vertical-align: top;
} */