/**************************** 头部 ****************************/
.header{
  position: relative;
  width:100%;
  height:650px;
  background: url(../img/slides-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 新navbar样式 */
.nav-bg{
  width:100%;
  position: absolute;
  z-index: 99;
}

.nav-link{
  color:#ccc;
}

.nav-blur{
  position: absolute;
  width:100%;
  height:81px;
  filter:blur(1px);
  box-shadow: 0px 1px 0px 0px #777;
  background:#fff;background:rgba(255,255,255,.14);
  z-index: 50;
}

.logo{
  width:90px;
  height:50px;
}

.black-overlay{
  z-index: 0;
  position: absolute;
  background-color:rgba(10, 10, 10, 0.65);
  width:100%;
  height:100%;
}

.header-content{
  position: absolute;
  z-index:10;
  width:100%;
  top:180px;
}

.text{
  margin: 0 auto;
  text-align: center;
  width:60%;
}
.text h1{
  color:#ccc;
  font-size: 6em;
  letter-spacing: 25px;
  font-weight: 600;
}
.text p{
  color:#ccc;
}

.header-nav-bottom{

  position: absolute;
  width:100%;
  bottom: 35px;
}
.header-nav-list{
  width: fit-content;
  margin: 0 auto;
}

.header-nav-item{
  float: left;
  color: #ccc;
  padding-left:20px;
  padding-right:20px;
  border-right: solid 1px #ccc;
}
.header-nav-item a{
  color:#ccc;
  font-size: 23px;
  letter-spacing: 3px;
}
.header-nav-item a:hover {
  opacity: 0.6;
  text-decoration: none;
  color: #72b5c5;
}

/************************ 轮播图图片 ************************/
.content-img {
  display: block;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**************************** 广告 ****************************/
.advertisement{
  background-color: #fff; 
  margin-top:60px;
  margin-bottom: 60px;
  padding:10px;
  height:100px;
  border-radius: 3px;
}
.advertisement-img {
  display: block;
  height: 80px;
  margin: 0 auto;
}

/**************************** 推广 顶部标题 ****************************/
.broadcast-panel{
  background-color: #fff; 
  margin-top:20px;
  padding:10px;
  /* height:900px; */
  border-radius: 3px;
}

.broadcast-header{
  width:100%;
  border-bottom:solid 1px #ccc;
  
}

.broadcast-header p{
  /* margin:5px; */
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: solid 2px #666;
}



/************************ 推广 共用样式 ************************/
.popularize-idol-body {
  margin: 20px 0 15px 0;
}
.popularize-idol-body a{
  display: block;
  width: 60px;
  height:60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
.popularize-idol-body h5 {
  float: left;
  margin-left: 10px;
}
.popularize-idol-body p {
  float: left;
  margin-left: 10px;
}
.popularize-idol-body-card {
  margin-bottom: 15px;
  display: table;
}
.popularize-idol-body-card:hover {
  opacity: 0.8;
  position: relative;
  top: -2px;
  left: -2px;
}
.popularize-idol-body-card:hover .card-img {
  box-shadow: 5px 5px 5px #888888;
}

/************************ 推广 偶像视频 ************************/
.popularize-idol-video-head {
  margin: 15px 0 15px 0;
  background-color: #111111;
  border: none;
}
.popularize-idol-video-head a{
  display: block;
  height:150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popularize-idol-video-head:hover a {
  box-shadow: 5px 5px 20px #888888;
  opacity: 0.2;
}
.popularize-idol-video-head-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: white;
  display: none;
}
.popularize-idol-video-head-text p {
  position: absolute;
  top: 35px;
  left: 10px;
  color: #888888;
  font-size: 15px;
}
.popularize-idol-video-head:hover .popularize-idol-video-head-text {
  display: block;
  opacity: 1;
}


/************************ 推广 作品 ************************/
.popularize-idol-production-head {
  margin: 15px 0 0 0;
  background-color: #111111;
  border: none;
}
.popularize-idol-production-head a{
  display: block;
  height:150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popularize-idol-production-head:hover a{
  box-shadow: 5px 5px 20px #888888;
  opacity: 0.2;
}
.popularize-idol-production-head-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: white;
  display: none;
}
.popularize-idol-production-head-text p {
  position: absolute;
  top: 35px;
  left: 10px;
  color: #888888;
  font-size: 15px;
}


.broadcast-header-left {
  float: left;
  width: 50%;
}
.broadcast-header-right {
  float: right;
  width: 50%;
}
.popularize-idol-production-head:hover .popularize-idol-production-head-text {
  display: block;
  opacity: 1;
}

/************************ 推广 音乐 ************************/
.popularize-idol-music-head {
  margin-top: 15px;
  background-color: white;
}
.popularize-idol-music-head a{
  display: block;
  height:130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popularize-idol-music-head:hover a{
  box-shadow: 5px 5px 20px #888888;
  opacity: 0.2;
}
.popularize-idol-music-head-text {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 20px;
  color: black;
  display: none;
}
.popularize-idol-music-head-text p {
  position: absolute;
  top: 40px;
  left: 10px;
  color: #666;
  font-size: 15px;
}
.popularize-idol-music-head:hover .popularize-idol-music-head-text {
  display: block;
  opacity: 1;
}
.music-head {
  margin: 10px 10px 10px 10px !important;
  width: 92%
}
.popularize-music-ahref {
  margin: 5px 5px 5px 15px;
}
.popularize-idol-body-music a {
  margin-left: 10px;
  color:black;
  letter-spacing: 1.5px;
}
.popularize-idol-body-music hr {
  margin: 5px 0 5px 0;
}
.popularize-music-ahref:hover {
  opacity: 0.6;
  transform: scale(1.05);
  position: relative;
  left: 6px;
  top: 0px;
}
.popularize-music-ahref:hover a{
  text-decoration: none;
  color: #72b5c5 !important;
}

.music-shadow {
  background: #ccc;
  padding: 2px 14px 2px 12px;
  border-radius: 10%;
}
.popularize-music-ahref:hover .music-shadow {
  box-shadow: 2px 2px 5px #000;
}




/****************************** 视频 ******************************/
.idol-video-head {
  margin: 15px 15px 15px 15px;
  transition: all 0.6s;
}
.idol-video-head a{
  display: block;
  width: 248px;
  height:150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.idol-video-head:hover {
  box-shadow: 5px 5px 20px #888888;
  transform: scale(1.05);
}
.idol-video-head:hover .video-card-title {
  display: block;
  opacity: 1 !important;
}
.idol-video-head:hover a {
  opacity: 0.6;
}
.video-card-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  height: 40px;
  line-height: 20px;
  padding: 10px 5px;
  overflow: hidden;
  background: #000;
  background: linear-gradient(transparent,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 35%,rgba(0,0,0,.6) 65%,rgba(0,0,0,.9));
  border-radius: 3px;
  display: none;
}


.video-card-title .title {
  color: #fff;
  height: 40px;
  overflow: hidden;
  margin-bottom: 5px;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 15px;
  padding-left: 10px;
}