/* 感谢您选择虚拟姬！ */
.hk-landing-sec-top {
    margin-top: 120px;
    margin-bottom: 50px;
}
.text-center {
    margin-bottom: 40px;
}

/* 虚拟偶像工作室 */
.hk-landing-sec-bottom {
    margin-top: 40px;
}
.text-up {
    padding-top: 40px;
}

/* 虚拟偶像交易 */
.hk-landing-sec-exchange {
    margin-top: 60px;
    margin-bottom: 50px;
}