hr{
    margin-top:3px;
    margin-bottom: 3px; 
}

body{
    background-image: url("../img/novel-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.shader{
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.novel-wrap{
    margin-top: 4vh;
}

.novel-tools{
    width: 4vw;
    border: 1px solid rgba(94, 94, 94, 0.26);
    background: #f6f1e7;
    float: right;
    border-bottom: none;
}

.novel-tool-item{
    height: 8vh;
    border-bottom: 1px solid rgba(94, 94, 94, 0.26);
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.novel-tool-item:hover{
    color: #fa9229;
}
.novel-tool-item-clicked {
    color: #fa9229;
}

.novel-tool-item .fa{
    font-size: 18px;
    margin-top: 2vh;
}

.novel-content{
    margin-right: 15px;
    padding: 70px 20px 20px 20px;
    text-align: center;
    background: #f6f1e7;
}

.novel{
    padding-top: 30px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.2em;
}