.navbar{
    z-index:999 !important;
}

.bg-light{
    background-color:#fff !important;
    padding:0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0px 15px #ccc;
    width:100%;
    opacity: 0.95;
}

.logo{
    width:60px;
    height:50px;
    margin-top: 5px;
    margin-right: 10px;
}